<h1><%=@athlete.name%> </h1>
<h2><%= @athlete.nation.name  %></h2>
<h4> Gold: <%= @athlete.gold %></h4>
<h4> Silver: <%= @athlete.silver %></h4>
<h4> Bronze: <%= @athlete.bronze %></h4>
<br>
<a href="/athlete/new">Add Another Athlete</a>
<a href="/athlete">Athlete Index</a>
<a href="/athlete/<%=@athlete.id%>/edit">Edit Athlete</a>