<div class="info">
  <div class="left">
    <h1>Event</h1>
    <%=@event.name%> 
    <br>
    <br>
  </div>

  <div class="right">
    <h1>Athletes: </h1>
    <% @event.athletes.each do |athlete| %>
    <%= athlete.name %>
    <br>
    <%end%>
  </div>

  <div class="left">
    <form action="/event/<%= @event.id%>/result" method="post">
      <label for="Run"> Result: </label>
      <input type="submit" value="Run">
    </form>
  </div>

  <div class="left">
    <form action="/event/<%= @event.id%>/table" method="get">
      <label for="Run"> Ranking: </label>
      <input type="submit" value="Run">
    </form>
  </div>

  <div class="right">
    <a href="/event/<%=@event.id%>/edit">Edit Event</a>
  </div>
  <div class="left">
    <a href="/event/<%=@event.id%>/add_athlete">Add Athlete</a>
  </div>
</div>

