<h1>Event</h1>
<%=@event.name%> 
<br>
<br>

<h1>Athletes: </h1>
<% @event.athletes.each do |athlete| %>
<%= athlete.name %>
<br>
<%end%>

<form action="/event/<%= @event.id%>/result" method="post">
  <label for="Update"> Result: </label>
  <input type="submit" value="Update">
</form>

<a href="/event/<%=@event.id%>/add_athlete">Add An Athlete</a>
<a href="/event/new">Add Another Event</a>
<a href="/event">Event Index</a>
<a href="/event/<%=@event.id%>/edit">Edit Event</a>
<a href="/leaderboard">Leaderboard</a>